@model Domain.VehicleFormula

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>VehicleFormula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="engines" class="control-label"></label>
                <input asp-for="engines" class="form-control" />
                <span asp-validation-for="engines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chassis" class="control-label"></label>
                <input asp-for="chassis" class="form-control" />
                <span asp-validation-for="chassis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doors" class="control-label"></label>
                <input asp-for="doors" class="form-control" />
                <span asp-validation-for="doors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wheels" class="control-label"></label>
                <input asp-for="wheels" class="form-control" />
                <span asp-validation-for="wheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
